 {% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
{% block nompage %}Virements{% endblock %}
 <div class="content-body">
            <div class="container-fluid">

                <!-- row -->

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Virement</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>

                                                <th><strong>RIB</strong></th>
                                                <th><strong>Nom et Prenom</strong></th>
                                                <th><strong>Email</strong></th>
                                                <th><strong>Date de naissance</strong></th>
                                                <th><strong>Numéro de téléphone</strong></th>
                                                <th><strong>Type de Compte</strong></th>
                                                <th><strong>Type de Virement</strong></th>
                                                <th><strong>Actions</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td><strong>542448</strong></td>
                                                <td>
                                                    <div class="d-flex align-items-center"><img
                                                            src="images/avatar/1.jpg" class="rounded-lg me-2" width="24"
                                                            alt=""> <span class="w-space-no">Yesser khaloui</span></div>
                                                </td>
                                                <td>exemple@exemple.com </td>
                                                <td>13 Octobre 1998</td>
                                                <td>
                                                    <div class="d-flex align-items-center">99652314</div>
                                                </td>
                                                <td>Courant</td>
                                                <td>Écoresponsabilité</td>

                                                <td>
                                                    <div class="d-flex">
                                                        <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="bi bi-check-lg"></i></a>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><strong>542596</strong></td>
                                                <td>
                                                    <div class="d-flex align-items-center"><img
                                                            src="images/avatar/2.jpg" class="rounded-lg me-2" width="24"
                                                            alt=""> <span class="w-space-no">Shayma Ouerhani</span>
                                                    </div>
                                                </td>
                                                <td>exemple@exemple.com </td>
                                                <td>15 Mars 2000</td>
                                                <td>
                                                    <div class="d-flex align-items-center">98623547</div>
                                                </td>
                                                <td> Epargne</td>
                                                <td> autre</td>
                                                   
                                                <td>
                                                    <div class="d-flex">
                                                        <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                            class="bi bi-check-lg"></i></a>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td><strong>542945</strong></td>
                                                <td>
                                                    <div class="d-flex align-items-center"><img
                                                            src="images/avatar/3.jpg" class="rounded-lg me-2" width="24"
                                                            alt=""> <span class="w-space-no">Mariem Mhamdi</span></div>
                                                </td>
                                                <td>exemple@exemple.com </td>
                                                <td>21 Mai 1996</td>
                                                <td>
                                                    <div class="d-flex align-items-center">25896413</div>
                                                </td>
                                                <td>Courant</td>
                                                <td>autre</td>

                                                   
                                                <td> 
                                                
                                                    <div class="d-flex">
                                                        <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                                class="bi bi-check-lg"></i></a>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}
