{% extends 'base.html.twig' %}

{% block title %}Hello CreditController!{% endblock %}

{% block body %}
{% block nompage %} Liste des demandes de crédit {% endblock %}
<div class="content-body">
            <div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- Lien pour ajouter un nouveau crédit -->
						
						</div>
						
				
                <!-- row -->

                <div class="row">
                   
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des demande</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr >
                                            
                                                <th><strong>ID_demande</strong></th>
                                                <th><strong>id_client</strong></th>
                                                <th><strong>montant</strong></th>
                                                <th><strong>autre_source</strong></th>
                                                <th><strong>status_client</strong></th>
                                                <th><strong>mensualite</strong></th>
                                                

												<th><strong>action</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td><strong>542448</strong></td>
                                                <td>12545</td>
                                                <td>2500d	</td>
                                                <td>maison</td>
                                                <td>employee</td>
												<td>1200d</td>
                                               <td>
   
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i
                                                        class="bi bi-check-lg"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                                </div>
</td>

                                            </tr>
										
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
		


        


{% endblock %}
