{% extends 'base.html.twig' %}

    {% block body %}
    
        <div class="content-body">
            <div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<!-- Lien pour ajouter un nouveau crédit -->
						
						</div>
						
				
                <!-- row -->

                <div class="row">
                   
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des demande</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr >
                                            
                                                <th><strong>ID_demande</strong></th>
                                                <th><strong>id_client</strong></th>
                                                <th><strong>montant</strong></th>
                                                <th><strong>stattus_client</strong></th>
                                                <th><strong>date_debut</strong></th>
                                                <th><strong>mensualite</strong></th>
                                                <th><strong>duree</strong></th>
                                                <th><strong>taux_interet</strong></th>
                                                <th><strong>frais_retard</strong></th>
                                                <th><strong>consultation</strong></th>

                                                

												<th><strong>action</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td><strong>542448</strong></td>
                                                <td>12545</td>
                                                <td>2500d	</td>
                                                <td>maison</td>
                                                <td>employee</td>
												<td>1200d</td>
                                                <td>14mois</td>
                                                <td>1.4</td>
                                                <td>4000</td>
                                                <td>OUI</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <button class="btn btn-success shadow btn-xs sharp me-1">Approuver</button>
                                                        <button class="btn btn-danger shadow btn-xs sharp">Rejeter</button>
                                                    </div>
                                                </td>
                                               <td>
   
                                                <div class="d-flex">
                                                    <div class="d-flex">
                                                        <button type="button" class="btn btn-primary shadow btn-xs sharp me-1">
                                                            <i class="bi bi-pencil"></i> <!-- Utilisation de l'icône de modification -->
                                                        </button>
                                                        <button type="button" class="btn btn-danger shadow btn-xs sharp">
                                                            <i class="fa fa-trash"></i> <!-- Garder l'icône de suppression -->
                                                        </button>
                                                    </div>
                                                    

</td>


                                            </tr>
										
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
    {% endblock %}